.wrapper-inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: $padding-vertical 10px 0 10px;
}

@media (max-width: 768px) {
    .wrapper-inner {
        max-width: 630px;
        padding-top: 60px;

        &--lg {
            max-width: 710px;
        }
    }

}

@media (max-width: 567px) {
    .wrapper-inner {
        width: 100%;
        padding-top: 48px;

        &--lg {
            padding: 15px 10px 0 10px;
        }
    }
}