body {
  @include FuturaPT();
  font-weight: 300;
  font-size: $font-size-lg;
  color: $primary-text-color;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-weight: $fw-demi;
  font-size: 48px;
  line-height: 32px;
  color: $primary-color;
}

.subtitle-sm,
.subtitle-md {
  color: $primary-color;
  margin-top: 25px;
}

.subtitle-sm {
  font-size: 24px;
}

.subtitle-md {
  font-size: 32px;
}

.btn {
  @include FuturaPT();
  font-weight: $fw-book;
  font-size: $font-size-md;
  background-color: $primary-color;
  padding: 18px 27px;
  color: $white-color;

  &:hover {
    color: $primary-text-color;
    background: $green-color;
  }
}

.input {
  padding-bottom: 8px;
}
