body {
  @include FuturaPT();
  font-weight: 400;
  font-size: $font-size-lg;
  color: $primary-text-color;
  -webkit-font-smoothing: antialiased;
}

.title {
  font-weight: $fw-demi;
  font-size: 48px;
  line-height: 32px;
  color: $primary-color;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.subtitle-sm,
.subtitle-lg {
  color: $primary-color;
  margin-top: 25px;

  @media (max-width: 768px) {
    margin-top: 12px;
  }
}

.subtitle-sm {
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: $font-size-lg;
  }
}

.subtitle-lg {
  font-size: 32px;

  @media (max-width: 768px) {
    font-size: 24px;
  }

  @media (max-width: 576px) {
    font-size: $font-size-lg;
  }
}

.phone-number {
  color: $primary-text-color;
}

.btn {
  @include FuturaPT();
  font-weight: $fw-book;
  font-size: $font-size-md;
  background-color: $primary-color;
  padding: 15px 30px;
  color: $white-color;
  transition: $transition;

  &:hover {
    color: $primary-text-color;
    background: $green-color;
  }

  &--transparent {
    @media (min-width: 731px) and (max-width: 820px) {
      border: none;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      color: $primary-color;
      font-weight: $fw-medium;
    }
  }
}

.input {
  padding-bottom: 8px;
}

.label {
  cursor: pointer;
}

.arrow-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  @media (max-width: 768px) {
    justify-content: flex-start;
  }

  @media (max-width: 375px) {
    justify-content: center;
  }

  &__prev {
    margin-right: 30px;
  }

  &__next {
    margin-left: 30px;
  }

  &__svg {
    fill: $white-color;
    transition: $transition;
    
    &:hover {
      fill: #55d585;
    }
  }

  .swiper-pagination {
    position: static;
  }

  .swiper-pagination-bullet {
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }

    &-active {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #55d585;

      &::after {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #55d585;
      }
    }
  }
}

