$padding-vertical: 100px;
$padding-vertical-sm: 34px;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;

$fw-book: 300;
$fw-medium: 500;
$fw-demi: 600;

$main-line-height: 0.02em;

$primary-color: #02509C;

$second-color: rgba(28, 28, 28, 0.5);

$green-color: #55D585;
$white-color: #FFF;
$bg-color: #EFF1F9;
$primary-text-color: #1C1C1C;

$transition: .2s;