.about {
    position: relative;
    background-image: url(../images/pattern.svg);
    padding-bottom: 100px;

    &__header {
        display: flex;
        margin-bottom: 48px;

        &-icon {
            margin-right: 17px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        flex-basis: 40%;
    }

    &__right {
        flex-basis: 48%;
    }

    &__leaf {
        position: absolute;
        bottom: -7px;
        left: 40px;
        z-index: 50;
    }

    &__line {
        position: absolute;
    }
}

.about-left {
    &__text {
        margin-bottom: 32px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }
}

.about-right {
    &__title {
        font-weight: $fw-medium;
        font-size: 24px;
        margin-bottom: 40px;
    }

    &__content {
        position: relative;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, 160px);
        grid-row-gap: 68px;
        grid-column-gap: 32px;
    }

    &__icon {
        height: 33px;
        margin-bottom: 12px;
    }

    &__text {
        font-size: $font-size-md;
    }
}

@media (max-width: 1100px) {
    .about {
        &__wrapper {
            flex-direction: column;
            align-items: flex-start;
        }

        &__line {
            display: none;
        }

        &__leaf {
            left: auto;
            right: 50px;
        }
    }

    .about-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
        padding-left: 49px;

        &__text {
            max-width: 719px;
        }
    }

    .about-right {
        &__content {
            grid-template-rows: repeat(2, max-content);
            grid-template-columns: repeat(5, 120px);
            grid-row-gap: 25px;
            background: none;
        }
    }
}

@media (max-width: 768px) {
    .about-right {
        &__content {
            grid-template-columns: repeat(5, 104px);
            grid-column-gap: 22px;
        }
    }
}

@media (max-width: 660px) {
    .about {
        &__leaf {
            display: none;
        }
    }
    .about-left {
        padding: 0;

        &__text {
            max-width: 274px;
        }
    }
    .about-right {
        &__content {
            grid-template-rows: repeat(5, max-content);
            grid-template-columns: repeat(2, 104px);
        }
    }
}

@media (max-width: 360px) {
    .about-left {
        &__text {
            margin-bottom: 210px;
        }

        &__img {
            position: absolute;
            top: 260px;
            left: 0;
        }
    }
}
