.calculator {
    position: relative;
    background: url(../../images/pattern.svg);
    padding-bottom: 107px;

    &__header {
        display: flex;
        align-items: flex-start;
        margin-bottom: 70px;

        &-icon {
            margin-right: 17px;
        }
    }

    &__plant-img {
        position: absolute;
        top: 0;
        right: 160px;
    }

    &__btn {
        margin-left: 25px;
    }
}

.calculator-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    &__group {
        display: flex;
        flex-direction: column;

        &:nth-child(2) {
            margin: 0 25px;
        }

        &-wrapper {
            display: flex;
        }
    }

    &__name {
        font-size: $font-size-md;
        margin-bottom: 25px;
    }

    &__meter {
        font-size: 21px;
        margin-left: 10px;
    }

    &__input {
        font-weight: $fw-book;
        font-size: 21px;
        letter-spacing: 0.02em;
        color: $primary-text-color;
        padding-bottom: 8px;
        border-bottom: 2px solid $second-color;
        background: transparent;

        &--sm {
            max-width: 44px;
        }

        &--lg {
            max-width: 303px;
        }
    }


    &__buttons {
       display: flex;

        input {
            position: absolute;
            z-index: -1;
            opacity: 0;        
        }
    }

    &__label {
        font-weight: $fw-book;
            width: 36px;
            height: 36px;
            font-size: $font-size-md;
            border: 2px solid #739ac0;
    
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 8px;

            &--big {
                width: 83px;
            }
    }

    input:checked+label {
        background-color: $green-color;
    }
}

@media (max-width: 1024px) {
    .calculator {
        &__btn {
            margin: 30px 0 0 0;
        }
    }
}

@media (max-width: 786px) {
    .calculator-form {
        padding-left: 49px;
        &__group {
            &:nth-child(n + 3) {
                margin-bottom: 0;
            }
        }

        &__name {
            &--last {
                margin-bottom: 5px;
            }
        }
    }
}

@media (max-width: 610px) {
    .calculator {
        padding-bottom: 50px;

        &__btn {
            margin-top: 32px;
        }

        &__plant-img {
            width: 120px;
            right: 10px;
        }

    }

    .calculator-form {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        &__group {
            margin: 0;

            &:nth-child(2) {
                margin: 0;
            }

            & + & {
                margin-top: 25px;
            }
        }

        &__btn {
            width: 30px;
            height: 30px;

            &--big {
                width: 77px;
            }

            & + & {
                margin-left: 5px;
            }
        }
    }
}
