.contacts {
    display: grid;
    grid-template-rows: max-content 550px;
    grid-template-columns: 505px auto;
    grid-template-areas:
        "info info"
        "map img";
    grid-row-gap: 50px;
    background-color: $bg-color;

    .wrapper-inner {
        grid-area: info;
    }

    &__header {
        display: flex;
        margin-bottom: 32px;

        &-icon {
            align-self: flex-start;
            margin-right: 17px;
        }
    }

    &__row {
        display: flex;
        padding-left: 40px;
    }

    &__col {
        & + & {
            margin-left: 155px;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 15px;
        letter-spacing: 0.02em;

        &--sm {
            font-size: $font-size-sm;
            line-height: 9px;
            color: $second-color;
            margin-bottom: 12px;
        }
    }

    &__map {
        grid-area: map;
    }

    &__open-map {
        display: none;
    }

    &__img {
        grid-area: img;
        background-image: url(../../images/contacts/contacts-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 1030px) {
    .contacts {
        grid-template-rows: 396px;
        grid-template-columns: max-content auto;
        grid-template-areas: "info img";
        grid-column-gap: 60px;

        .wrapper-inner {
            padding: 60px 0 0 10px;
        }

        &__row {
            flex-direction: column;
            padding-bottom: 65px;
        }

        &__col {
            & + & {
                margin-left: 0;
                margin-top: 25px;
            }
        }

        &__map {
            display: none;
        }

        &__open-map {
            display: block;
            width: 95px;
            font-size: $font-size-md;
            color: $primary-text-color;
            padding-bottom: 8px;
            border-bottom: 2px solid;
            margin-top: 32px;
        }
    }
}

@media (max-width: 680px) {
    .contacts {
        grid-template-rows: max-content 200px;
        grid-template-columns: 1fr;
        grid-template-areas: "info"
            "img";
    }
}