.contacts {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 37% auto;
    grid-template-areas:
        "info info"
        "map img";
    // grid-row-gap: 50px;
    background-color: $bg-color;

    .wrapper-inner {
        padding-bottom: 50px;
        grid-area: info;
    }

    &__header {
        display: flex;
        margin-bottom: 48px;

        &-icon {
            align-self: flex-start;
            margin-right: 17px;
        }
    }

    &__row {
        display: flex;
        padding-left: 40px;
    }

    &__col {
        & + & {
            margin-left: 155px;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 15px;
        letter-spacing: 0.02em;
        font-weight: $fw-medium;

        &--sm {
            font-size: $font-size-sm;
            font-weight: $fw-book;
            line-height: 9px;
            color: $second-color;
            margin-bottom: 12px;
        }
    }

    &__map {
        grid-area: map;

        &-wrap {
            width: 100%;
            height: 100%;
        }
    }

    &__open-map {
        display: none;
    }

    &__block-img {
        grid-area: img;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }
}

@media (max-width: 1030px) {
    .contacts {
        position: relative;
        display: flex;
        // grid-template-rows: 396px;
        // grid-template-columns: max-content auto;
        // grid-template-areas: "info img";
        // grid-column-gap: 60px;

        .wrapper-inner {
            // padding: 60px 0 0 10px;
            width: 100%;
        }

        &__row {
            flex-direction: column;
        }

        &__col {
            & + & {
                margin-left: 0;
                margin-top: 24px;
            }
        }

        &__text {
            font-size: $font-size-lg;

            &--sm {
                font-size: $font-size-sm;
                margin-bottom: 9px;
            }
        }

        &__map {
            display: none;
        }

        &__block-img {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
        }

        &__img {
            width: auto;
        }

        &__open-map {
            display: block;
            width: 95px;
            font-size: $font-size-md;
            color: $primary-text-color;
            padding-bottom: 8px;
            border-bottom: 2px solid;
            margin-top: 32px;
        }
    }
}

@media (max-width: 768px) {
    .contacts {
        &__img {
            width: 100%;
        }
    } 
    
}

@media (max-width: 680px) {
    .contacts {
        // 
        flex-direction: column;
        
        &__header {
            margin-bottom: 32px;
            
            &-icon {
                margin-right: 8px;
                width: 24px;
                height: 24px;
            }
        }
        
        &__row {
            // padding-bottom: 48px;
            padding-left: 0;
        }    

        &__text {
            font-size: $font-size-lg;

            &--sm {
                font-size: $font-size-sm;
            }
        }

        &__open-map {
            margin-bottom: 0;
        }

        &__block-img {
            position: static;
        }
            
    }
}
