.footer {
    padding-bottom: 52px;

    .wrapper-inner {
        padding-top: $padding-vertical-sm;
    }

    &__logo {
        margin-right: 41px;
    }

    &__wrapper {
        display: flex;
    }

    &__top-row,
    &__bottom-row {
        display: grid;
        grid-template-rows: max-content;

        & + & {
            margin-top: 24px;
        }
    }

    &__top-row {
        grid-template-columns: max-content 580px;
    }

    &__bottom-row {
        grid-template-columns: 200px 220px auto;
    }

    &__text-wrapper {
        display: flex;
    }

    &__phone {
        margin-right: 30px;
    }

    &__text {
        font-size: $font-size-md;

        &--last {
            justify-self: end;
        }
    }
}

.footer-nav {
    justify-self: end;

    &__list {
        display: flex;
    }

    &__item {
        & + & {
            margin-left: 48px;
        }
    }

    &__link {
        font-weight: $fw-medium;
        font-size: $font-size-md;
        line-height: 11px;
        letter-spacing: $main-line-height;
        color: $primary-text-color;
    }
}

.footer-mobile {
    display: none;
}

@media (max-width: 1190px) {
    .footer {

        &__top-row {
            grid-template-rows: repeat(2, max-content);
            grid-row-gap: 15px;
            grid-template-areas:
                "nav nav"
                "text text";
        }

        &__bottom-row {
            grid-template-columns: repeat(3, max-content);
            grid-column-gap: 15px;
        }

        &__text-wrapper {
            grid-area: text;
        }

        &__nav {
            grid-area: nav;
            justify-self: stretch;
        }
    }
}

@media (max-width: 836px) {
    .footer__wrapper {
        display: none;
    }

    .footer-mobile {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 567px) {
    .footer-mobile {
        flex-direction: column;
        align-items: center;
    }

    .footer__text {
        & + & {
            margin-top: 12px;
        }
    }
}
